/* div.heroDiv{
    border: 2px solid gray;
    padding: 0.5em;
    width: 16%;
    background-color: rgb(173, 198, 243);
} */

div.heroDiv{
    border: 2px solid gray;
    padding: 0.5em;
    margin: 0.5em;
    width: 16%;
    background-color: rgb(173, 198, 243);    
}

li.heroItem {  
    cursor: pointer;  
    list-style-type: none;
}

div.selected {
    background-color: cadetblue;
}

div.heroDiv:hover{
    color: brown;
    background-color: antiquewhite;
    position: relative;
    left: 0.1em;
}

h2{
    margin-top: 0em;
}